<h1>Select Template</h1>
<h2>
  from which new test will be generated in subject <em><%= @subject.title %></em>
</h2>

<% if @templates.any? %>
    <ul>
      <% @templates.each do |template| %>
      <li>
        <%= link_to template.title, generate_tests_path(template_id: template.id), method: :post %>
      </li>
      <% end %>
    </ul>
<% else %>
    There are no templates for subject <%= @subject.title %>
<% end %>